
<div class="container">
    <h2>Lecciones</h2>
    <div class="leccionesHeader">
        <div>
            <mat-form-field appearance="legacy" class="search">
                <mat-label>Buscar</mat-label>
                <input matInput (input)="applyFilter($event.target.value)" placeholder="Buscar lección"> <!---->
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>Puede buscar por cualquier campo</mat-hint>
            </mat-form-field>
        </div>
        <!-- <div *ngIf="finished">
            <button
            mat-raised-button
            style="background: var(--main-color2); color: white;"
            (click)="downloadPDFCerticate()">
            <mat-icon>school</mat-icon>
            Generar certificado</button>
        </div> -->
    </div>


    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                id="nombre">
                    Nombre
            </th>

            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="Lección"
                class="name"
                (click)="lessonActivated(element) ? goToCourseView(element) : ''"
                >
                {{ element.nombre }}
            </td>
        </ng-container>

        <ng-container matColumnDef="progreso">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                id="progreso">
                    Progreso
            </th>

            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="Lección"
                class="name">
                {{ !element.porcentaje ?  '0%' : element.porcentaje+'%' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef id="acciones">Acciones</th>
            <td mat-cell *matCellDef="let element" class="buttons">
                <div *ngIf="lessonActivated(element)">
                    <button
                    mat-stroked-button
                    color="primary"
                    matTooltip="Estudiar lección"
                    (click)="goToCourseView(element)">
                    <mat-icon style="color: darkcyan;">visibility</mat-icon>
                    </button>
                </div>
                <div *ngIf="!lessonActivated(element)">
                    <button
                    mat-stroked-button
                    color="primary"
                    matTooltip="Lección deshabilitada, debe completar la lección anterior.">
                    <mat-icon style="color: darkcyan;">visibility_off</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons>
    </mat-paginator>
    <button mat-raised-button (click)="goBack()" style="background: var(--main-color2); color: white;">Regresar</button>
</div>
