<main>
    <section class="description">
        <div class="course-title">
            <h1>{{ nombreCurso }}</h1>
            <h4>Categoria: <span>{{ categoria }}</span></h4>
        </div>
        <div class="course-description">
            <div id="descripcion"></div>
        </div>
    </section>
    <section class="course-content">
        <div class="card">
            <div class="img"><img src="/assets/img/info.png" alt=""></div>

            <div class="options">
                <a (click)="openDialog()">Descripción</a>
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/assets/img/folder_document.png" alt=""></div>

            <div class="options">
                <a>Documentos</a>
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/assets/img/scorms.png" alt=""></div>

            <div class="options">
                <a (click)="goToLessons()">Lecciones</a>
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/assets/img/gradebook.png" alt=""></div>

            <div class="options">
                <a>Evaluaciones</a>
                <!-- <div class="icons">
                    <mat-icon>visibility</mat-icon>
                    <mat-icon>edit</mat-icon>
                </div> -->
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/assets/img/forum.png" alt=""></div>

            <div class="options">
                <a>Foros</a>
                <!-- <div class="icons">
                    <mat-icon>visibility</mat-icon>
                    <mat-icon>edit</mat-icon>
                </div> -->
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/assets/img/valves.png" alt=""></div>

            <div class="options">
                <a>Anuncios</a>
                <!-- <div class="icons">
                    <mat-icon>visibility</mat-icon>
                    <mat-icon>edit</mat-icon>
                </div> -->
            </div>
        </div>
    </section>
    <section class="buttons">
        <button mat-button (click)="goBack()" ><< Volver a lista de cursos</button>
    </section>

</main>
