<app-header></app-header>
<app-nav></app-nav>
<div class="main-container">
    <div class="login-container">
        <div class="login" id="login">
            <form action="">
                <h2>Iniciar sesión</h2>
                <input type="email" placeholder="Su email">
                <input type="password" placeholder="Su contraseña">
                <button type="submit">Iniciar sesión</button>
            </form>
            <a routerLink="/home/recover">¿Olvido su contraseña?</a>
        </div>
        <div class="register">
            <p>¿Aún no tiene cuenta?</p>
            <a routerLink="/home/register">Regístrese</a>
        </div>
    </div>
</div>
<app-footer></app-footer>

