<div class="main-container">
Hola soy oliver
    <div class="login-container">
        <div class="login" id="login">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="loginUser(loginForm.value)">
                    <h2>Iniciar sesión</h2>
                    <input
                        type="email"
                        placeholder="Su email"
                        formControlName="mail">
                        <ng-container *ngFor="let validation of validationMessages.mail">
                            <div *ngIf="
                                    loginForm.get('mail').hasError(validation.type) &&
                                    (loginForm.get('mail').dirty ||
                                    loginForm.get('mail').touched)
                                    ">
                                <mat-hint>{{ validation.message}}</mat-hint>
                            </div>
                        </ng-container>
                    <input
                        type="password"
                        placeholder="Su contraseña"
                        formControlName="password">
                        <ng-container *ngFor="let validation of validationMessages.password">
                            <div *ngIf="
                                    loginForm.get('password').hasError(validation.type) &&
                                    (loginForm.get('password').dirty ||
                                    loginForm.get('password').touched)
                                    ">
                                <mat-hint>{{ validation.message}}</mat-hint>
                            </div>
                        </ng-container>
                    <button type="submit">Iniciar sesión</button>
            </form>
            <a routerLink="/home/recover">¿Olvido su contraseña?</a>
        </div>
        <div class="register">
            <p>¿Aún no tiene cuenta?</p>
            <a routerLink="/home/register">Regístrese</a>
        </div>
    </div>
</div>

