<main>
    <mat-radio-group
      aria-label="seleccione una opción"
      color="primary"
      [(ngModel)]="selected"
      (change)="selectionChange($event)">
      <section class="exercise-options">
        <div class="option" *ngFor="let opt of options">
          <img src="{{ opt.img }}" alt="">
          <div class="execise-name"><p>{{ opt.name }}</p></div>
          <div class="select">
            <mat-radio-button value="{{opt.value}}"></mat-radio-button>
          </div>
        </div>
      </section>
    </mat-radio-group>

    <div *ngFor="let item of options">
      <div *ngIf="item.state">
        
      </div>
    </div>
</main>
