* {
    box-sizing: border-box;
}

main {
    background: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 0 auto;
    padding-bottom: 16px;
    width: 800px;
    height: auto;
}

.title {
    display: flex;
    justify-content: space-between;
    background: var(--main-color2);
    color: white;
    padding: 8px 16px;
    align-items: center;
}

.title mat-icon {
    color: white;
}

.title h2 {
    font-weight: 500;
    margin: 0 16px;
}

form mat-dialog-content {
    width: 100%;
    margin: 24px 0;
}

form mat-dialog-content {
    width: 100%;
}

form mat-dialog-content .form-inputs {
    display: flex;
    justify-content: center;
    width: 100%;
}

mat-form-field {
    width: 50%;
}

.buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons .guardarBtn {
    // background: var(--main-color2);
    // color: white;
    margin-right: 16px;
}


.config {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.config .config-container {
    width: 100%;
}

.config .config-container mat-panel-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.config .config-container p {
    margin: 0;
    color: var(--main-color2);
    font-size: 1.1rem;
    font-weight: 600;
}

.config .config-container mat-panel-title mat-icon {
    margin-left: 16px;
}

.config .config-container .config-options {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto;
    gap: 16px 16px;
    align-items: start;
}

.config .config-container .config-options p {
    color: rgba(0, 0, 0, .87);
    margin-left: 16px;
}

.config .config-container .config-options .options mat-radio-group {
    display: flex;
    flex-direction: column;
}

.config .config-container .config-options .options mat-radio-group mat-radio-button {
    margin-bottom: 16px;
}