<main>
    <form [formGroup]="formAds" (ngSubmit)="editAds(formAds.value)"> <!---->
        <div class="title">
            <mat-icon>volume_up</mat-icon>
            <h2>Editar anuncio</h2>
        </div>
        <div class="upload-image-main">
            <div class="image-upload">
                <label class="btn-upload">
                    <button
                        for= "up-file-image"
                        color="primary"
                        class="up-btn"
                        type="button"
                        (click)="fileInput.click()"
                        mat-raised-button
                        matTooltip="Cambiar foto del anuncio">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="Cambiar de archivo">
                            cloud_upload
                        </mat-icon>
                        Cambiar Imagen
                    </button>
                    <input
                        type="file"
                        accept="image/png, image/jpeg"
                        id="up-file-image"
                        name="up-file-image"
                        #fileInput
                        (change)="newImage($event)"
                    /><!--"-->
                </label>
                <!-- Error en la imagen-->
                <mat-error *ngIf="imageField.touched && imageField.invalid">
                    <ng-container *ngIf="imageField.hasError('required')">
                        La imagen es requerida
                    </ng-container>
                </mat-error>
            </div>
            <!--Pogreso-->
            <div class="progress">
                <mat-hint>
                    Puede añadir una imagen de portada para el anuncio, debe estar en formato JPG o PNG.
                </mat-hint>
            </div>
            <picture>
                    <img *ngIf="selectedImage" [src]="selectedImage.src" alt="portada del anuncio" >
            </picture>
        </div>
        <!--Formulario de anuncio-->
        <div class="form-inputs">
            <mat-form-field>
                <mat-label>Titulo del anuncio</mat-label>
                <input
                    type="text"
                    matInput
                    #myinput
                    tabIndex=1
                    formControlName="name"
                />
                <mat-error
                    *ngIf="nameField.touched &&
                    nameField.invalid">
                    <ng-container
                    *ngIf="nameField.hasError('required')">El titulo es requerido
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <!-- Descripción del anuncio -->
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="7"
                    #autosize="cdkTextareaAutosize"
                    class="description"
                    formControlName="description"
                ></textarea>
            </mat-form-field>
            <mat-slide-toggle
                (change)="timeUpdate($event)">
                ¿Desea actualizar fecha y hora?
            </mat-slide-toggle>
        </div>
        <div class="buttons">
            <button
                type="submit"
                tabIndex=4
                mat-raised-button
                [disabled]="formAds.invalid"
                >
                Editar
            </button>
            <a
                mat-raised-button
                tabIndex=5
                (click)="cancelar()"
            >
                Cancelar
            </a>
        </div>
    </form>
</main>
