<main>
    <section class="general">
        <div class="info">
            <h1>Dejale un mensaje o pregunta al profesor.</h1>
            <p>profesor: {{ dataPregunta.profesor}}</p>
            <p>curso: {{ dataPregunta.nombreCurso }}</p>
        </div>
        <div class="btn-meet" *ngIf="linkCalendly">
            <h3>Programar una sesión con el profesor</h3>
            <button
                mat-raised-button
                color="primary"
                (click)="goToCalendly()"
                matTooltip="Seras redirigido a calendly, solo debes escoger 
                    la fecha y hora que más te convenga para reunirte con el profesor">
                    Programar reunión
            </button>
            <p><strong>Puede programar una reunión con el profesor para resolver dudas.</strong>
                Al dar click será redirigido a la plataforma Calendly, solo debera escoger la fecha
                y hora que más le convenga, recibira una confirmación a su correo con el link de la reunión.
            </p>
        </div>
    </section>
    <section class="chat-index">
        <p>Escribe tu pregunta o comentario y da clic en enviar, el profesor respondera lo más pronto posible.</p>
        <form class="example-form" [formGroup]="form" (ngSubmit)="saveQuestion($event)">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Escribe tu comentario o pregunta al profesor...</mat-label>
                <textarea matInput placeholder="Ej. Me gustaría saber..." formControlName="pregunta"></textarea>
            </mat-form-field>

            <button
                mat-raised-button
                type="submit"
                color="primary"
                [disabled]="form.invalid">
                    Enviar
            </button>
            <button class="bck-btn" mat-raised-button (click)="goBack()">Regresar</button>
        </form>
    </section>
    <section class="preguntas" *ngIf="preguntas">
        <h2>Mis preguntas</h2>
        <div class="lista-preguntas">
            <div class="pregunta" *ngFor="let pregunta of preguntas">
                <div class="texto-pregunta">
                    <p>{{ pregunta.pregunta }}</p>
                    <mat-icon matTooltip="Eliminar pregunta" (click)="questionDelete(pregunta)">delete</mat-icon>
                </div>
                <p class="fecha-pregunta">pregunta enviada: {{ pregunta.fechaPregunta }}</p>
                <div class="respuestas" *ngFor="let respuesta of pregunta.respuestas">
                    <div class="respuesta">
                        <p>{{ respuesta.respuesta }}</p>
                    </div>
                    <p class="fecha-pregunta">respuesta enviada por {{ pregunta.profesor }} : {{ respuesta.fechaRespuesta }}</p>
                </div>
                
            </div>
        </div>
        
    </section>
</main>
