<main>
    <form [formGroup]="form" (ngSubmit)="saveOrEditCategory($event)">
        <div class="title">
            <mat-icon>feed</mat-icon>
            <h2>{{ !id ? 'Crear nueva' : 'Editar'}} Categoria</h2>
        </div>

        <div class="form-inputs">
            <mat-form-field>
                <mat-label>Codigo de la categoria</mat-label>
                <input type="text" matInput formControlName="code" [(ngModel)]="codigo" />
                <mat-error *ngIf="codeField.touched && codeField.invalid">
                    <ng-container *ngIf="codeField.hasError('required')">
                        El codigo es requerido
                    </ng-container>
                    <ng-container *ngIf="codeField.hasError('minlength')">
                        Minimo 1 caracter
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombre de la categoria</mat-label>
                <input type="text" matInput formControlName="name" [(ngModel)]="nombre" />
                <mat-error *ngIf="nameField.touched && nameField.invalid">
                    <ng-container *ngIf="nameField.hasError('required')">
                        El nombre es requerido
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-checkbox
                class="example-margin"
                color="primary"
                [checked]="checked"
                [(ngModel)]="checked"
                formControlName="active">
                    <span>¿Permitir añadir a cursos?</span>
            </mat-checkbox>
        </div>

        <div class="buttons">
            <button
                type="submit"
                mat-raised-button
                [disabled]="form.invalid">
                    Guardar
            </button>
            <a routerLink="/dashboard/categorias" mat-raised-button>Cancelar</a>
        </div>
    </form>
</main>
