<section class="main-container">
    <h2>nuestros cursos</h2>
    <div class="courses-container">
        <div class="single-course" *ngFor="let item of cursos">
            <div class="course-image">
                <img src="{{ item.imagen }}" alt="" loading="lazy">
                <span class="category">{{ item.categoria }}</span>
                <div class="cribbon"></div>
                <div class="course-info">
                    <span (click)="openDialog(item)" class="material-icons">info</span>
                </div>
            </div>
            <div class="course-detail">
                <h3><a (click)="goToCourseDetail(item.id)">{{ item.nombre }}</a></h3>
                <div class="ranking">
                    <star-rating [starType]="'svg'"
                    (starClickChange)="agregarEstrella($event.rating, item)"
                    [disabled]="item.haVotado"
                    [rating]="item.promedio"
                    [staticColor]="'ok'" [step]="0.5" [showHalfStars]="true"></star-rating>
                    <p>{{item.promedio}} {{item.promedio<2 ? 'estrella':'estrellas'}} | {{item.nroVotos}} votos</p>
                </div>
                <div class="profesor-info">
                    <img
                        src="https://chym-elearning.com/app/upload/users/1/1168/small_1168_5f7e7d11ecfc6_Solo-Logo-alta.jpg?rand=602831cae60a8"alt="">
                    <p>Profesor: <span>{{ item.profesor }}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>