.container {
    width: 100%;
    background: white;
    margin: 36px auto;
    padding: 24px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
}

.search {
    margin-right: 48px;
    margin-bottom: 24px;
}

table {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.mat-header-cell {
    color: black;
    text-align: left;
}

.mat-cell {
    color: rgba(0, 0, 0, .54);
    padding: 0;
    margin: 0;
    text-align: center;
}

td.mat-cell:last-of-type {
    padding: 0;
}

.Estudiante {
    text-align: left;
    min-width: 200px;
}

.Correo {
    text-align: left;
    min-width: 250px;
}

.Promedio {
    color: var(--main-color2);
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    button {
        width: 140px;
        mat-icon {
            margin-right: 8px;
            color: greenyellow;
        }
    }
}