<main>
    <form [formGroup]="form" (ngSubmit)="saveOrEditCoupon($event)">
        <div class="title">
            <mat-icon>card_giftcard</mat-icon>
            <h2>{{ !edit ? 'Crear nuevo' : 'Editar' }} cupón de descuento</h2>
        </div>
        <div class="form-inputs">
            <!-- cupon -->
            <mat-form-field>
                <mat-label>Codigo de cupón</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="cupon"
                    tabIndex=1/>
                <mat-error *ngIf="cuponField.touched && cuponField.invalid">
                    <ng-container *ngIf="cuponField.hasError('required')">campo requerido</ng-container>
                </mat-error>
            </mat-form-field>
            <!-- Curso o carrera? -->
            <mat-form-field appearance="fill">
                <mat-label>Tipo de programa de formación</mat-label>
                <mat-select tabIndex=2 matNativeControl formControlName="tipo" (selectionChange)="typeSelectedEvent($event)">
                    <mat-option value="" selected></mat-option>
                    <mat-option *ngFor="let item of tipos" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- programa -->
            <mat-form-field appearance="fill" *ngIf="typeSelected">
                <mat-label>Programa de formación</mat-label>
                <mat-select formControlName="curso" tabIndex="10" *ngIf="typeSelected === 'Curso'">
                    <mat-option *ngFor="let item of coursesList" [value]="item.id">
                        {{ item.nombre }}
                    </mat-option>
                    <mat-error *ngIf="cursoField.touched && cursoField.invalid">
                        <ng-container *ngIf="cursoField.hasError('required')">Este campo es requerido</ng-container>
                    </mat-error>
                </mat-select>
                <mat-select formControlName="curso" tabIndex="10" *ngIf="typeSelected === 'Carrera'">
                    <mat-option *ngFor="let item of careersList" [value]="item.id">
                        {{ item.nombre }}
                    </mat-option>
                    <mat-error *ngIf="cursoField.touched && cursoField.invalid">
                        <ng-container *ngIf="cursoField.hasError('required')">Este campo es requerido</ng-container>
                    </mat-error>
                </mat-select>
            </mat-form-field>
            <!-- porcentaje -->
            <mat-form-field>
                <mat-label>Porcentaje de descuento (1-100)</mat-label>
                <input
                    type="number"
                    matInput
                    formControlName="porcentaje"
                    tabIndex=2/>
                <mat-error *ngIf="porcentajeField.touched && porcentajeField.invalid">
                    <ng-container *ngIf="porcentajeField.hasError('required')">campo requerido</ng-container>
                </mat-error>
            </mat-form-field>
            <!-- activo -->
            <mat-checkbox
                class="example-margin"
                formControlName="activo"
                tabIndex=3
                color="primary">
                Activar cupón?
            </mat-checkbox>
        </div>
        <div class="buttons">
            <button
                type="submit"
                tabIndex=4
                mat-raised-button
                [disabled]="form.invalid">
                    Guardar cambios
            </button>
            <a mat-raised-button (click)="goBack();" tabIndex=5>Cancelar</a>
        </div>
    </form>
</main>