<div class="container">
    <h2>Agregar cursos</h2>

    <div class="menuVariado">
        <div class="busquedaEstudiante">
            <mat-form-field appearance="legacy" class="search">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Placeholder" (keyup)="applyFilter($event.target.value)" ><!---->
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>puede buscar por cualquier campo</mat-hint>
            </mat-form-field>
        </div>

        <div class="botonAgregarCurso">
            <button (click)="openDialog()">
                <div class="botonAgregarCurso-item">
                    <mat-icon>library_add</mat-icon>
                    <div class="botonAgregarCurso-texto">Agregar curso</div>
                </div>
            </button>
        </div>

    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- nombre de la carrera -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="nombre">Nombre</th>
            <td
            mat-cell
            *matCellDef="let element"
            matTooltip="Curso"
            class="name">
                {{ element.nombre }}
            </td>
        </ng-container>

        <!-- botones de acción -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef id="estado">Estado</th>
            <td mat-cell *matCellDef="let element" class="buttons">

                <button
                mat-mini-fab
                color="warn"
                matTooltip="Quitar curso"
                (click)="validarQuitarCurso(element.id, element.nombre)"
                >
                    <mat-icon>
                        <span class="material-icons">clear</span>
                    </mat-icon>
                </button>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons
        ></mat-paginator>

        <button
        mat-stroked-button
        color="primary"
        routerLink="/dashboard/carreras"
        style="background: var(--main-color2); color: white;">
        << Gestión de Carreras
      </button>
</div>