<main>
    <section class="test-info">
        <h2>Resultados para {{ exercise?.nombre }}</h2>
        <div class="user-info">
            <p>Estudiante</p>
            <p>{{ user?.nombres + ' ' + user?.apellidos }}</p>
            <p>Fecha de presentación</p>
            <p>{{ fecha }}</p>
        </div>
        <div class="total-result">
            <h3>Puntuación total:</h3>
            <p>{{ result + '%' }} </p>
            <mat-icon [style]="result >= exercise?.porcentaje ? 'color: green;' : 'color: tomato;'">
                {{result >= exercise?.porcentaje ? 'check_circle' : 'error'}}
            </mat-icon>
            <p>{{ result >= exercise?.porcentaje ? 'Aprobado' : 'No Aprobado'}}</p>
        </div>
    </section>
    <section class="buttons">
        <button mat-raised-button color="primary" (click)="saveRevition()">Guardar todos los cambios</button>
        <button mat-raised-button color="warn" (click)="goBack()">Cancelar</button>
    </section>
    <section class="total-revition">
        <div class="questions-and-answers" *ngFor="let item of answers; let i = index">
            <!-- opcion unica -->
            <div style="width: 100%;" *ngIf="item.tipoPregunta === 1">
                <p class="q-number">{{'pregunta ' + (i + 1) + '. '}}</p>
                <p>{{ item.pregunta }}</p>
                <p class="q-a-title">Respuesta seleccionada:</p>
                <p>{{ item.respuestaSeleccionada }}</p>
                <p class="q-a-title">Respuesta Correcta</p>
                <p>{{ item.respuestaCorrecta }}</p>
                <div class="result">
                    <!-- respuesta correcta -->
                    <p class="result-value">Puntuación {{item.valor}} / 100.</p>
                    <mat-icon *ngIf="item.valor === 100 && item.tipoPregunta !== 5" style="color: green;">check_circle</mat-icon>
                    <p *ngIf="item.valor === 100 && item.tipoPregunta !== 5">Correcta</p>
                    <!-- Parcialmente correcta -->
                    <mat-icon *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5">Parcial</p>
                    <!-- repuesta incorrecta -->
                    <mat-icon *ngIf="item.valor === 0 && item.tipoPregunta !== 5" style="color: tomato;">error</mat-icon>
                    <p *ngIf="item.valor === 0 && item.tipoPregunta !== 5">Incorrecta</p>
                    <!-- Respuestas libres -->
                    <mat-icon *ngIf="item.tipoPregunta == 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.tipoPregunta === 5">Pendiente por revisión</p>
                </div>
                <div class="edit-result">
                    <div class="config-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>Editar calificación</p>
                                        <mat-icon>settings</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="config-options">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Calificación</mat-label>
                                        <input
                                            [(ngModel)]="item.valor"
                                            matInput type="number"
                                            placeholder="1 a 100"
                                            min="0" max="100">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Retroalimentación</mat-label>
                                        <textarea [(ngModel)]="item.retro" matInput placeholder="Escriba un comentario"></textarea>
                                    </mat-form-field>
                                </div>
                                <button (click)="saveCalification(item, i)" mat-raised-button>Guardar</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <!-- opcion multiple -->
            <div style="width: 100%;" *ngIf="item.tipoPregunta === 2">
                <p class="q-number">{{'pregunta ' + (i + 1) + '. '}}</p>
                <p>{{ item.pregunta }}</p>
                <p class="q-a-title">Respuesta seleccionada:</p>
                <div class="q-mult" *ngFor="let q of item.opcionesEscogidas; let j = index">
                    <p *ngIf="q">{{ letters[j] + '. ' + parseHTML(item.respuestasorg[j].answer) }}</p>
                </div>
                <p class="q-a-title">Respuestas Correctas</p>
                <div class="q-mult" *ngFor="let r of item.respuestasorg">
                    <p *ngIf="r.respuesta">{{ letters[r.value - 1] + '. ' + parseHTML(r.answer) }}</p>
                </div>
                <div class="result">
                    <!-- respuesta correcta -->
                    <p class="result-value">Puntuación {{item.valor}} / 100.</p>
                    <mat-icon *ngIf="item.valor === 100 && item.tipoPregunta !== 5" style="color: green;">check_circle</mat-icon>
                    <p *ngIf="item.valor === 100 && item.tipoPregunta !== 5">Correcta</p>
                    <!-- Parcialmente correcta -->
                    <mat-icon *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5">Parcial</p>
                    <!-- repuesta incorrecta -->
                    <mat-icon *ngIf="item.valor === 0 && item.tipoPregunta !== 5" style="color: tomato;">error</mat-icon>
                    <p *ngIf="item.valor === 0 && item.tipoPregunta !== 5">Incorrecta</p>
                    <!-- Respuestas libres -->
                    <mat-icon *ngIf="item.tipoPregunta == 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.tipoPregunta === 5">Pendiente por revisión</p>
                </div>
                <div class="edit-result">
                    <div class="config-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>Editar calificación</p>
                                        <mat-icon>settings</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="config-options">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Calificación</mat-label>
                                        <input
                                            [(ngModel)]="item.valor"
                                            matInput type="number"
                                            placeholder="1 a 100"
                                            min="0" max="100">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Retroalimentación</mat-label>
                                        <textarea [(ngModel)]="item.retro" matInput placeholder="Escriba un comentario"></textarea>
                                    </mat-form-field>
                                </div>
                                <button (click)="saveCalification(item, i)" mat-raised-button>Guardar</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <!-- preguntas respuesta libre -->
            <div style="width: 100%;" *ngIf="item.tipoPregunta === 3">
                <p class="q-number">{{'pregunta ' + (i + 1) + '. '}}</p>
                <p>{{ qFormatter(item.pregunta) }}</p>
                <p class="q-a-title">Respuesta seleccionada:</p>
                <div class="q-free" *ngFor="let q of item.opcionesEscogidas">
                    <p>{{ q.answer }}</p>
                </div>
                <p class="q-a-title">Respuesta Correcta</p>
                <div class="q-free" *ngFor="let r of item.respuestas">
                    <p>{{ r }}</p>
                </div>
                <div class="result">
                    <!-- respuesta correcta -->
                    <p class="result-value">Puntuación {{item.valor}} / 100.</p>
                    <mat-icon *ngIf="item.valor === 100 && item.tipoPregunta !== 5" style="color: green;">check_circle</mat-icon>
                    <p *ngIf="item.valor === 100 && item.tipoPregunta !== 5">Correcta</p>
                    <!-- Parcialmente correcta -->
                    <mat-icon *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5">Parcial</p>
                    <!-- repuesta incorrecta -->
                    <mat-icon *ngIf="item.valor === 0 && item.tipoPregunta !== 5" style="color: tomato;">error</mat-icon>
                    <p *ngIf="item.valor === 0 && item.tipoPregunta !== 5">Incorrecta</p>
                    <!-- Respuestas libres -->
                    <mat-icon *ngIf="item.tipoPregunta == 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.tipoPregunta === 5">Pendiente por revisión</p>
                </div>
                <div class="edit-result">
                    <div class="config-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>Editar calificación</p>
                                        <mat-icon>settings</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="config-options">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Calificación</mat-label>
                                        <input
                                            [(ngModel)]="item.valor"
                                            matInput type="number"
                                            placeholder="1 a 100"
                                            min="0" max="100">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Retroalimentación</mat-label>
                                        <textarea [(ngModel)]="item.retro" matInput placeholder="Escriba un comentario"></textarea>
                                    </mat-form-field>
                                </div>
                                <button (click)="saveCalification(item, i)" mat-raised-button>Guardar</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <!-- preguntas de relacionar -->
            <div style="width: 100%;" *ngIf="item.tipoPregunta === 4">
                <p class="q-number">{{'pregunta ' + (i + 1) + '. '}}</p>
                <p>{{ item.pregunta }}</p>
                <p class="q-a-title">Respuesta seleccionada:</p>
                <div class="q-relation" *ngFor="let q of item.respuestas">
                    <h5>pregunta</h5>
                    <p>{{ q.answer }}</p>
                    <h5>relación</h5>
                    <p>{{ q.selOpt }}</p>
                </div>
                <p class="q-a-title">Respuesta Correcta</p>
                <div class="q-relation" *ngFor="let q of item.respuestas">
                    <h5>pregunta</h5>
                    <p>{{ q.answer }}</p>
                    <h5>relación</h5>
                    <p>{{ q.option }}</p>
                </div>
                <div class="result">
                    <!-- respuesta correcta -->
                    <p class="result-value">Puntuación {{item.valor}} / 100.</p>
                    <mat-icon *ngIf="item.valor === 100 && item.tipoPregunta !== 5" style="color: green;">check_circle</mat-icon>
                    <p *ngIf="item.valor === 100 && item.tipoPregunta !== 5">Correcta</p>
                    <!-- Parcialmente correcta -->
                    <mat-icon *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5">Parcial</p>
                    <!-- repuesta incorrecta -->
                    <mat-icon *ngIf="item.valor === 0 && item.tipoPregunta !== 5" style="color: tomato;">error</mat-icon>
                    <p *ngIf="item.valor === 0 && item.tipoPregunta !== 5">Incorrecta</p>
                    <!-- Respuestas libres -->
                    <mat-icon *ngIf="item.tipoPregunta == 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.tipoPregunta === 5">Pendiente por revisión</p>
                </div>
                <div class="edit-result">
                    <div class="config-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>Editar calificación</p>
                                        <mat-icon>settings</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="config-options">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Calificación</mat-label>
                                        <input
                                            [(ngModel)]="item.valor"
                                            matInput type="number"
                                            placeholder="1 a 100"
                                            min="0" max="100">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Retroalimentación</mat-label>
                                        <textarea [(ngModel)]="item.retro" matInput placeholder="Escriba un comentario"></textarea>
                                    </mat-form-field>
                                </div>
                                <button (click)="saveCalification(item, i)" mat-raised-button>Guardar</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <!-- respuesta libre -->
            <div style="width: 100%;" *ngIf="item.tipoPregunta === 5">
                <p class="q-number">{{'pregunta ' + (i + 1) + '. '}}</p>
                <p>{{ item.pregunta }}</p>
                <p class="q-a-title">Respuesta seleccionada:</p>
                <p>{{ parseHTML(item.opcionesEscogidas) }}</p>
                <p class="q-a-title">Respuesta Correcta</p>
                <p>Debe calificarla el tutor</p>
                <div class="result">
                    <!-- respuesta correcta -->
                    <p class="result-value">Puntuación {{item.valor}} / 100.</p>
                    <mat-icon *ngIf="item.valor === 100 && item.tipoPregunta !== 5" style="color: green;">check_circle</mat-icon>
                    <p *ngIf="item.valor === 100 && item.tipoPregunta !== 5">Correcta</p>
                    <!-- Parcialmente correcta -->
                    <mat-icon *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.valor > 0 && item.valor < 100 && item.tipoPregunta !== 5">Parcial</p>
                    <!-- repuesta incorrecta -->
                    <mat-icon *ngIf="item.valor === 0 && item.tipoPregunta !== 5" style="color: tomato;">error</mat-icon>
                    <p *ngIf="item.valor === 0 && item.tipoPregunta !== 5">Incorrecta</p>
                    <!-- Respuestas libres -->
                    <mat-icon *ngIf="item.tipoPregunta == 5" style="color: orange;">error</mat-icon>
                    <p *ngIf="item.tipoPregunta === 5">Pendiente por revisión</p>
                </div>
                <div class="edit-result">
                    <div class="config-container">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>Editar calificación</p>
                                        <mat-icon>settings</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="config-options">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Calificación</mat-label>
                                        <input
                                            [(ngModel)]="item.valor"
                                            matInput type="number"
                                            placeholder="1 a 100"
                                            min="0" max="100">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Retroalimentación</mat-label>
                                        <textarea [(ngModel)]="item.retro" matInput placeholder="Escriba un comentario"></textarea>
                                    </mat-form-field>
                                </div>
                                <button (click)="saveCalification(item, i)" mat-raised-button>Guardar</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="buttons">
        <button mat-raised-button color="primary" (click)="saveRevition()">Guardar todos los cambios</button>
        <button mat-raised-button color="warn" (click)="goBack()">Cancelar</button>
    </section>
</main>
