<main>
    <form [formGroup]="form" (ngSubmit)="saveOrEditCourse($event)">
      <div class="title">
        <mat-icon>menu_book</mat-icon>
        <h2>{{ !id ? 'Crear nuevo' : 'Editar'}} curso</h2>
      </div>
      <div class="upload-image-main">
        <div class="image-upload">
          <label class="btn-upload">
            <button
            color="primary"
              class="up-btn"
              [disabled]="showProgressBar"
              type="button"
              mat-raised-button
              (click)="fileInput.click()"
              matTooltip="Cargar foto del curso">
              <mat-icon aria-hidden="false" aria-label="Carga de archivo">cloud_upload</mat-icon>
                Cargar Imagen
            </button>
            <input type="file" accept="image/png, image/jpeg" #fileInput (change)="uploadImage($event)" />
          </label>
          <mat-error *ngIf="imageField.touched && imageField.invalid">
            <ng-container *ngIf="imageField.hasError('required')">La imagen es requerida</ng-container>
          </mat-error>
        </div>
        <div class="progress">
          <mat-hint>Puede añadir una imagen de portada para el curso, debe estar en formato JPG o PNG.</mat-hint>
          <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="percentageProgressBar"></mat-progress-bar>
          <p *ngIf="showProgressBar">{{ 'cargando ' + percentageProgressBar + '%' }}</p>
        </div>
        <picture>
          <img *ngIf="imageField.value" [src]="imageField.value" alt="portada del curso">
        </picture>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Nombre del curso</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            #myinput
            tabIndex=1/>
          <mat-error *ngIf="nameField.touched && nameField.invalid">
            <ng-container *ngIf="nameField.hasError('required')">El nombre es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- sigla para certificado -->
        <mat-form-field>
          <mat-label>Sigla para Certificados</mat-label>
          <input
            type="text"
            matInput
            formControlName="initials"
            tabIndex=2/>
          <mat-error *ngIf="initialsField.touched && initialsField.invalid">
            <ng-container *ngIf="initialsField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- Tipo de certificado -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de certifricado</mat-label>
          <mat-select tabIndex=3 matNativeControl formControlName="tipoCert">
            <mat-option value="" selected></mat-option>
            <mat-option *ngFor="let type of types" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Seleccionar Categoria -->
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select tabIndex=4 matNativeControl formControlName="categoria">
            <mat-option value="" selected></mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat.id">
              {{cat.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Seleccionar profesor -->
        <mat-form-field appearance="fill">
          <mat-label>Profesor</mat-label>
          <mat-select tabIndex=5 matNativeControl formControlName="profesor">
            <mat-option value="" selected></mat-option>
            <mat-option *ngFor="let item of teachers" [value]="item.profesor">
              {{item.profesor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- duración del curso -->
        <mat-form-field>
          <mat-label>Duración del curso (horas)</mat-label>
          <input
            type="number"
            matInput
            formControlName="duration"
            tabIndex=6/>
          <mat-error *ngIf="durationField.touched && durationField.invalid">
            <ng-container *ngIf="durationField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- porcentaje de aprobación -->
        <mat-form-field>
          <mat-label>Porcentaje de aprobación (%)</mat-label>
          <input
            type="number"
            matInput
            formControlName="percentage"
            tabIndex=7/>
          <mat-error *ngIf="percentageField.touched && percentageField.invalid">
            <ng-container *ngIf="percentageField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- precio cop -->
        <mat-form-field>
          <mat-label>Precio del curso (COP)</mat-label>
          <input
            type="number"
            matInput
            formControlName="cop"
            tabIndex=8/>
          <mat-error *ngIf="copField.touched && copField.invalid">
            <ng-container *ngIf="copField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- precio usd -->
        <mat-form-field>
          <mat-label>Precio del curso (USD)</mat-label>
          <input
            type="number"
            matInput
            formControlName="usd"
            tabIndex=9/>
          <mat-error *ngIf="usdField.touched && usdField.invalid">
            <ng-container *ngIf="usdField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- Plantilla certificado -->
        <mat-form-field appearance="fill">
          <mat-label>Plantilla certificado</mat-label>
          <mat-select formControlName="plantilla" tabIndex="10">
              <mat-option *ngFor="let item of certs" [value]="item.id">
                  {{ item.titulo }}
              </mat-option>
              <mat-error *ngIf="plantillaField.touched && plantillaField.invalid">
                  <ng-container *ngIf="plantillaField.hasError('required')">Este campo es requerido</ng-container>
              </mat-error>
          </mat-select>
      </mat-form-field>
        <!-- Vencimiento certificado -->
        <mat-checkbox class="example-margin" formControlName="vence" tabIndex=11 [(ngModel)]="vence">Certificado vence?</mat-checkbox>
        <mat-form-field *ngIf="vence">
          <mat-label>Vencimiento certificado (años)</mat-label>
          <input
            type="number"
            matInput
            formControlName="vencimiento"
            tabIndex=12/>
          <mat-error *ngIf="vencimientoField.touched && vencimientoField.invalid">
            <ng-container *ngIf="vencimientoField.hasError('required')">Este campo es requerido</ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button
          type="submit"
          tabIndex=13
          mat-raised-button
          [disabled]="form.invalid">{{ id ? 'Guardar cambios' : 'Guardar'}}</button>
				<a mat-raised-button (click)="cancel()" tabIndex=14>Cancelar</a>
      </div>
    </form>
  </main>