<main>
    <form [formGroup]="form" (ngSubmit)="saveOrEditCourse($event)">
      <div class="title">
        <mat-icon>menu_book</mat-icon>
        <h2>Crear nuevo curso</h2>
      </div>
      <div class="upload-image-main">
        <div class="image-upload">
          <label class="btn-upload">
            <button
            color="primary"
              class="up-btn"
              [disabled]="showProgressBar"
              type="button"
              mat-raised-button
              (click)="fileInput.click()"
              matTooltip="Cargar foto del curso">
              <mat-icon aria-hidden="false" aria-label="Carga de archivo">cloud_upload</mat-icon>
                Cargar Imagen
            </button>
            <input type="file" #fileInput (change)="uploadImage($event)" />
          </label>
          <mat-error *ngIf="imageField.touched && imageField.invalid">
            <ng-container *ngIf="imageField.hasError('required')">La imagen es requerida</ng-container>
          </mat-error>
        </div>
        <div class="progress">
          <mat-hint>Puede añadir una imagen de portada para el curso, debe estar en formato JPG o PNG.</mat-hint>
          <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="percentageProgressBar"></mat-progress-bar>
          <p *ngIf="showProgressBar">{{ 'cargando ' + percentageProgressBar + '%' }}</p>
        </div>
        <picture>
          <img *ngIf="imageField.value" [src]="imageField.value" alt="portada del curso">
        </picture>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Nombre del curso</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            [(ngModel)]="name"/>
          <mat-error *ngIf="nameField.touched && nameField.invalid">
            <ng-container *ngIf="nameField.hasError('required')">El nombre es requerido</ng-container>
          </mat-error>
        </mat-form-field>
        <!-- Seleccionar Categoria -->
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <select matNativeControl [(ngModel)]="selectedCategory" formControlName="categoria">
            <option value="" selected></option>
            <option *ngFor="let cat of categories" [value]="cat.nombre">
              {{cat.nombre}}
            </option>
          </select>
        </mat-form-field>
        <!-- Seleccionar profesor -->
        <mat-form-field appearance="fill">
          <mat-label>Profesor</mat-label>
          <select matNativeControl [(ngModel)]="selectedTeacher" formControlName="profesor">
            <option value="" selected></option>
            <option *ngFor="let item of teachers" [value]="item.profesor">
              {{item.profesor}}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button
          type="submit"
          mat-raised-button
          [disabled]="form.invalid">{{ id ? 'Guardar cambios' : 'Guardar'}}</button>
				<a routerLink="/dashboard/cursos" mat-raised-button>Cancelar</a>
      </div>
    </form>
  </main>