<main>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="title">
            <mat-icon>menu_book</mat-icon>
            <h2>{{ !id ? 'Crear nuevo' : 'Editar'}} contenido</h2>
        </div>
        <h1>{{ lessonName }}</h1>
        <div class="form-inputs">
            <mat-form-field>
              <mat-label>Título</mat-label>
              <input
                type="text"
                matInput
                formControlName="titulo"
                [(ngModel)]="titulo"
                #myinput
                tabIndex=1/>
              <mat-error *ngIf="tituloField.touched && tituloField.invalid">
                <ng-container *ngIf="tituloField.hasError('required')">El título es requerido</ng-container>
              </mat-error>
            </mat-form-field>
        </div>
        <button (click)="changeContentType()">cambiar</button>
        <mat-tab-group #tabGroup>
            <mat-tab label="Agregar contenido">
              <div class="mat-form-field-wrapper">
                  <editor
                      apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                      formControlName="contenido"
                      class="mat-elevation-z1"
                      [(ngModel)]="description"
                      (onInit)="handleEditorInit($event)"
                      [init]="{
                          icons: 'material',
                          skin: 'borderless',
                          plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                          menubar: false,
                          min_height: 350,
                          width : '750',
                          toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                          media_live_embeds: true
                      }">
                  </editor>
              </div>
            </mat-tab>
            <mat-tab label="Agregar archivo PDF"> Lección con archivo </mat-tab>
            <mat-tab label="Agregar Foro">
                <h3>Agregue el mensaje de bienvenida</h3>
                <mat-form-field class="example-full-width">
                    <mat-label>Mensaje</mat-label>
                    <textarea matInput placeholder="escriba aquí el mensaje"></textarea>
                </mat-form-field>
                <mat-checkbox class="example-margin">¿Permitir respuestas?</mat-checkbox>
            </mat-tab>
            <mat-tab label="Vista previa"> vista previa </mat-tab>
        </mat-tab-group>

        <div class="buttons">
            <button
              type="submit"
              tabIndex=4
              mat-raised-button
              [disabled]="form.invalid">
                {{ id ? 'Guardar cambios' : 'Guardar'}}
            </button>
            <a mat-raised-button (click)="cancel()" tabIndex=5>Cancelar</a>
        </div>
    </form>
</main>
