* {
    box-sizing: border-box;
}

main {
    background: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 36px auto;
    width: 90%;
    align-items: center;
}

form {
    min-width: 80%;
    display: flex;
    flex-direction: column;
}

form h1 {
    margin: 24px;
    justify-self: center;
    align-self: center;
    text-transform: capitalize;
}

.title {
    display: flex;
    //background: #37474f;
    //background: #3f51b5;
    background: var(--main-color2);
    color: white;
    padding: 8px 16px;
    align-items: center;
}

.title mat-icon {
    color: white;
}

.title h2 {
    font-weight: 500;
    margin: 0 16px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    margin: 24px 0;
}

.optionSelect {
    align-self: center;
    justify-self: center;
    border: 1px solid #aaaaaa;
    padding: 24px;
    margin-bottom: 24px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.contentView {
    align-self: center;
    margin-top: 24px;
    width: 80%;
}

.contentView .foro {
    display: flex;
    flex-direction: column;
}

.contentView h3 {
    font-weight: 600;
    color: var(--main-color2);
}

.upload-file-title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.upload-file-title mat-icon {
    color: var(--main-color2);
}

.upload-file-title h3 {
    margin-left: 16px;
    font-weight: 600;
}

.upload-image-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.upload-image-main picture {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    width: 50%;
}

.upload-image-main img {
    max-width: 100%;
    box-sizing: content-box;
    margin: 0 auto;
}

.up-btn {
    background: var(--main-color2);
    //background: #37474f;
    color: white;
    //width: 350px;
    margin-bottom: 8px;
}

.up-btn mat-icon {
    margin-right: 8px;
}

.upload-image-main .btn-upload {
    & input[type=file] {
        display: none;
    }
}

.fileUploaded {
    margin: 24px 0;
    background: #f6f6f6;
    padding: 24px;
    border-radius: 5px;
}

.fileUploaded a {
    font-size: 1.2rem;
    color: var(--main-color2);

}

.buttons {
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 16px;
}

.buttons button {
    margin-right: 16px;
    background: var(--main-color2);
    color: white;
}