<main>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="title">
            <mat-icon>menu_book</mat-icon>
            <h2>{{ !edit ? 'Crear nuevo' : 'Editar'}} contenido</h2>
        </div>
        <div class="form-inputs">
            <mat-form-field>
                <mat-label>Título</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="titulo"
                        [(ngModel)]="titulo"
                        #myinput
                        tabIndex=1/>
                <mat-error *ngIf="tituloField.touched && tituloField.invalid">
                    <ng-container *ngIf="tituloField.hasError('required')">El título es requerido</ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="optionSelect">
            <label id="radio-group-label">Seleccione el tipo de contenido de la lección</label>
            <mat-radio-group
                aria-labelledby="radio-group-label"
                class="radio-group"
                formControlName="tipo"
                [(ngModel)]="contentOption">
                <mat-radio-button class="radio-button" *ngFor="let option of options" [value]="option">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="contentView">
            <!-- crear contenido -->
            <div *ngIf="contentOption === 'Agregar contenido'" class="contenido">
                <h3>Agregar contenido</h3>
                <editor
                    apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                    formControlName="contenido"
                    class="mat-elevation-z1"
                    [(ngModel)]="contenido"
                    (onInit)="handleEditorInit($event)"
                    [init]="{
                        icons: 'material',
                        skin: 'borderless',
                        plugins: ['wordcount', 'lists', 'link', 'image imagetools', 'media'],
                        menubar: false,
                        min_height: 350,
                        width : '750',
                        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | link | image | media',
                        media_live_embeds: true
                    }">
                </editor>
            </div>
            <!-- subir archivo -->
            <div *ngIf="contentOption === 'Agregar archivo PDF'">
                <div class="upload-image-main">
                    <div class="image-upload">
                        <label class="btn-upload">
                            <button
                                color="primary"
                                class="up-btn"
                                [disabled]="showProgressBar"
                                type="button"
                                mat-raised-button
                                (click)="fileInput.click()"
                                matTooltip="Cargar foto del curso">
                                    <mat-icon aria-hidden="false" aria-label="Carga de archivo">cloud_upload</mat-icon>
                                    {{ archivoField.value? 'Cambiar archivo PDF' : 'Cargar archivo PDF' }}
                            </button>
                            <input type="file" accept="application/pdf" #fileInput (change)="uploadPDF($event)" />
                        </label>
                    </div>
                    <div class="progress">
                      <mat-hint *ngIf="!archivoField.value">Puede añadir un archivo PDF como contenido de su lección</mat-hint>
                      <mat-progress-bar *ngIf="showProgressBar" mode="determinate" [value]="percentageProgressBar"></mat-progress-bar>
                      <p *ngIf="showProgressBar">{{ 'cargando ' + percentageProgressBar + '%' }}</p>
                    </div>
                    <div class="fileUploaded">
                      <a *ngIf="archivoField.value" [href]="archivoField.value" target="_blank">{{archivo}}</a>
                    </div>
                </div>
            </div>
            <!-- foro -->
            <div *ngIf="contentOption === 'Agregar foro'" class="foro">
                <h3>Agregue el mensaje del foro</h3>
                <editor
                        apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                        formControlName="foro"
                        class="mat-elevation-z1"
                        [(ngModel)]="foro"
                        (onInit)="handleEditorInit($event)"
                        [init]="{
                            icons: 'material',
                            skin: 'borderless',
                            plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                            menubar: false,
                            min_height: 350,
                            width : '750',
                            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                            media_live_embeds: true
                        }">
                </editor>
                <div class="calificarForo">
                    <mat-slide-toggle
                    (change)="foroTipoCalificacionRequerida()"
                    [(ngModel)]="foroCalificable"
                    formControlName="foroCalificable">
                    Calificar foro
                    </mat-slide-toggle>
                    <mat-radio-group
                    *ngIf="foroCalificable"
                    [(ngModel)]="foroTipoCalificacion"
                    formControlName="foroTipoCalificacion">
                    <mat-radio-button value="Automatica">
                        Automatica
                    </mat-radio-button>
                    <mat-radio-button value="Manual">
                        Manual
                    </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <!-- ejercicio -->
            <div *ngIf="contentOption === 'Agregar ejercicio'" class="ejercicio">
                <p>Seleccione el ejercicio que desea agregar y de clic en guardar.</p>
                <mat-form-field appearance="fill">
                    <mat-label>Seleccione el ejercicio</mat-label>
                    <mat-select
                        (selectionChange)="exerciseSelect($event)"
                        formControlName="ejercicio"
                        [(ngModel)]="exerciseSelected"
                        [compareWith]="objectComparisonFunction">
                            <mat-option *ngFor="let e of exercises" [value]="e">
                                {{e.nombre}}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="buttons">
            <button
                type="submit"
                tabIndex=4
                mat-raised-button
                [disabled]="form.invalid">
                {{ edit ? 'Guardar cambios' : 'Guardar'}}
            </button>
            <a mat-raised-button (click)="cancel()" tabIndex=5>Cancelar</a>
        </div>
    </form>
</main>
