.mat-list-item-disabled {
  background: #cfd8dc;
  color: #78909c;
  padding: 2px 8px;
  border: 1px solid #546e7a;
  border-radius: 5px;
  margin-right: 4px;
}

.sidenav-container {
  height: 100%;
}

.imagenCurso {
  width: 200px;
  height: auto;
  //border-radius: 150px;
  border: 2px solid rgba(0, 114, 121, 0.95);
}

.teacher-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background: var(--main-color-rgb2);

  button {
    color: white;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.headerSideBar {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    margin: auto;
  }

  span {
    color: var(--main-color2);
    font-size: 0.9rem;
    margin-right: 8px;
  }

  .volver {
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    p {
      padding: 0px;
      margin: 0px 4px;
      font-size: 2.5rem;
      background-color: var(--main-color-rgb2);
      width: 20px;
      height: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
    }

    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:white;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav .mat-toolbar a img {
  width: 100%;
}



.mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nombreLeccion {
    width: 100%;
    text-align: center;
    background: var(--main-color2);
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px 15px 10px 0px;
    padding-left: 15px;
    color: white;
  }
}

.content-list-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid grey;

  .mat-list-item {
    cursor: pointer;
  }

  .mat-icon {
    color: var(--main-color2);
    margin: 0;
    padding: 0;
    // margin-right: 10px;
  }
}

ngx-extended-pdf-viewer {
  min-height: 100%;
}

.mat-toolbar {
  padding: 0px;
  margin-right: 10px;
}

main {
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  margin: 24px auto;
  padding-bottom: 16px;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  section {
    margin: 0 24px;

    h2 {
      margin: 0;
      color: var(--main-color2);
      font-weight: 500;
    }
  }

  .content-list-main {
    width: 60%;
    margin-top: 16px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 1.2rem;
      font-weight: 500;
      align-self: flex-start;
      margin-left: 5%;
      text-decoration: underline;
    }

    button {
      background: var(--main-color2);
      color: white;
      margin-top: 48px;

    }
  }
}