<style type="text/css">
    .correo,
    .whatsapp {
        margin-top: 1rem;
    }

    .enlace {
        margin-bottom: 1rem;
    }

    .mensaje {
        text-align: justify;
    }
</style>
<div class="mensaje">Puede comprar su curso o paquete de cursos con su tarjeta de Crédito, Débito, cuenta Paypal,
    Western union, Money Gram, Transferencia bancaria, PSE y otros medios de pago.</div>
<div class="correo"> Solicita información escribiendo al correo:</div>
<div class="enlace"><a href="mailto:comercial@chym-ndt.com"
        style="text-decoration: none; color:#007279;">comercial@chym-ndt.com</a></div>
<div class="whatsapp"> O al whatsapp:</div>
<div
    style="display:flex; justify-content:center; height:3rem; align-items:center; background:#1bd741; border-radius:5px; width:11rem; margin:auto;">
    <a style="text-decoration:none; display:flex; align-items:center; justify-content:center; color:white;"
        href="https://api.whatsapp.com/send?phone=573108045337&text=Gracias%20por%20comunicarte%20con%20nosotros,%20deja%20tu%20mensaje%20y%20nos%20pondremos%20en%20contacto%20contigo"
        target="_blank">
        <div><img
                src="https://firebasestorage.googleapis.com/v0/b/chym-e-learning.appspot.com/o/documentos%2Ficons%2FiconWhatsapp.png?alt=media&token=481b5145-ed4c-4365-98ef-03a4553d6102"
                style="width:2.4rem; height:2.5rem;" /> Ir al whatsapp <div>
    </a></div>