<app-header></app-header>
<app-nav></app-nav>
<main>
    <section class="introduction-container">
        <div class="introduction-title">
            <h1>Introduccion a los Ensayos No Destructivos</h1>
            <p>Profesores <span>Alvarez Gomez, Geovanny</span></p>
        </div>
        <div class="img-container">
            <img src="https://chym-elearning.com/courses/INTROEND/course-pic.png" alt="">

        </div>
        <div class="introduction-text">
            <p>Uno de los aspectos básicos de la ingeniería moderna dice relación con el control de calidad de materias primas, piezas y uniones. En este sentido la aplicación de técnicas de ensayos no destructivos, ya sea basados en ultrasonido, en tintas penetrantes, corrientes parásitas, partículas magnéticas o en radiografías industriales cobra particular vigencia. En el ámbito del mantenimiento predictivo, área en que se aplican los principios de la mecánica de la fractura, es donde con mayor énfasis, se requiere de las aplicaciones de los ensayos no destructivos, constituyéndose en el pilar fundamental de los criterios de mantenimiento.</p>
        </div>
    </section>
    <section class="information-container">
        <div class="information">
            <h2>Información del curso</h2>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="material-icons">menu_book</span> <h3>Objetivos</h3>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'cerrar' : 'ver'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                        <p>Dar a conocer o reforzar a los participantes las diferentes técnicas de ensayos no destructivos (END) empleadas actualmente en la inspección, su fundamentación, importancia, aplicaciones, ventajas y desventajas, así como la normatividad aplicable, además de dar a conocer los requisitos para la capacitación, calificación y certificación de personal de END.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="material-icons">menu_book</span> <h3>Contenido</h3>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'cerrar' : 'ver'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>INTRODUCCIÓN</h4>
                    <ul>
                        <li>1.1. ¿Qué son?</li>
                        <li>1.2. Definiciones</li>
                        <li>1.3. Pruebas destructivas y no destructivas</li>
                        <li>1.4. Técnicas de inspección (superficial, volumétrica y de hermeticidad)</li>
                        <li>1.5. Ventajas de los ensayos no destructivos</li>
                        <li>1.6. Limitaciones de los ensayos no destructivos</li>
                        <li>1.7. Beneficios del empleo de los ensayos no destructivos</li>
                        <li>1.8. Selección del ensayo no destructivo adecuado</li>
                    </ul>
                    <h4>TÉCNICAS DE INSPECCIÓN SUPERFICIAL</h4>
                    <ul>
                        <li>2.1. Inspección visual</li>
                        <li>2.2. Líquidos penetrantes</li>
                        <li>2.3. Partículas magnéticas</li>
                        <li>2.4. Electromagnetismo (corrientes Eddy)</li>
                    </ul>
                    <h4>TÉCNICAS DE INSPECCIÓN VOLUMÉTRICA</h4>
                    <ul>
                        <li>3.1. Radiografía industrial</li>
                        <li>3.2. Ultrasonido industrial</li>
                        <li>3.3. Emisión acústica</li>
                    </ul>
                    <h4>CAPACITACIÓN, CALIFICACIÓN Y CERTIFICACIÓN</h4>
                    <ul>
                        <li>4.1. Introducción</li>
                        <li>4.2. Entrenamiento</li>
                        <li>4.3. Calificación</li>
                        <li>4.4. Certificación</li>
                        <li>4.5. Exámenes de calificación</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="tutores">
            <img src="https://chym-elearning.com/app/upload/users/1/1168/1168_5f7e7d11ecfc6_Solo-Logo-alta.jpg?rand=6037016948a33" alt="">
            <p>Alvarez Gomez, Geovanny</p>
        </div>
    </section>
</main>
<app-footer></app-footer>