<main>
    <section class="introduction-container">
        <div class="introduction-title">
            <h1>{{nombre}}</h1>
            <p>Tutor: <span>{{ profesor }}</span></p>
        </div>
        <div class="introduction-text">
            <div id="descripcion"></div>
        </div>
    </section>
    <section class="information-container">
        <div class="information">
            <h2>Información del curso</h2>
            <mat-accordion>
                <mat-expansion-panel
                    *ngIf="introduccion"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Introducción</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="introduccion"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="objetivo"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Objetivos</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="objetivo"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="contenido"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Contenido</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="contenido"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="duracion"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Duración</h3>
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                        <div id="duracion"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="requisitos"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Requisitos previos</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="requisitos"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="dirigido"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Dirigido a</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="dirigido"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="evaluacion"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Evaluación de aprendizaje</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="evaluacion"></div>
                </mat-expansion-panel>

                <mat-expansion-panel
                    *ngIf="calificacion"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>Requisitos para calificación</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div id="calificacion"></div>
                </mat-expansion-panel>
            </mat-accordion>
            <button class="btn-back" routerLink="/dashboard/cursos" *ngIf="dash">{{ '<< Volver a Lista de cursos' }}</button>
            <div class="buttons" *ngIf="!dash">
                <button
                    mat-raised-button
                    style="background: var(--main-color2); color: white; margin-right: 24px;"
                    (click)="goToBuy()">
                        {{ dashboard ? 'Incribirse' : 'Comprar'}}
                </button>
                <button
                    mat-raised-button
                    (click)="goBack()">
                        Regresar
                </button>
            </div>
        </div>
        <!-- <div class="tutores">
            <h2>Tutor</h2>
            <div class="tutor-info">
                <img src="https://chym-elearning.com/app/upload/users/1/1168/1168_5f7e7d11ecfc6_Solo-Logo-alta.jpg?rand=6037016948a33" alt="">
                <p>{{ profesor }}</p>
            </div>
        </div> -->
    </section>
</main>