<main>
    <h2>Gestión de Certificados</h2>
    <mat-form-field appearance="legacy" class="search">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>puede buscar por cualquier campo</mat-hint>
    </mat-form-field>
    <button
        mat-raised-button
        routerLink="../crear-certificado"
        style="background: var(--main-color2); color: white;">
            Crear nuevo
    </button>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- consecutivo -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="no">No.</th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="goToHome(element.id)"
                matTooltip="Ver detalle del certificado"
                class="no">
                {{ element.id }}
            </td>
            </ng-container>
        <!-- certificado -->
        <ng-container matColumnDef="certificado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="certificado">Certificado</th>
        <td
            mat-cell
            *matCellDef="let element"
            class="certificado">
            {{ element.certificado }}
        </td>
        </ng-container>

        <!-- fecha i -->
        <ng-container matColumnDef="fechaI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="fechaI">Fecha de expedición </th>
        <td mat-cell *matCellDef="let element">{{ element.fechaFin }}</td>
        </ng-container>

        <!-- fecha e -->
        <ng-container matColumnDef="fechaE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="fechaE">Fecha de expiración </th>
            <td mat-cell *matCellDef="let element">{{ element.fechaExp }}</td>
        </ng-container>

        <!-- tecnica -->
        <ng-container matColumnDef="tecnica">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="tecnica">Técnica</th>
            <td
                mat-cell
                *matCellDef="let element"
                class="tecnica">
                {{ element.tecnica }}
            </td>
        </ng-container>

        <!-- cliente -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="cliente">Cliente</th>
            <td
                mat-cell
                *matCellDef="let element"
                class="cliente">
                {{ element.estudiante }}
            </td>
        </ng-container>

        <!-- tipo -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="tipo">Tipo</th>
            <td
                mat-cell
                *matCellDef="let element"
                class="tipo">
                {{ element.tipo }}
            </td>
        </ng-container>

        <!-- observacion -->
        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="observacion">Observaciones</th>
            <td
                mat-cell
                *matCellDef="let element"
                class="observacion">
                {{ element.observacion }}
            </td>
        </ng-container>

        <!-- botones de acción -->
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef id="acciones">Acciones</th>
        <td mat-cell *matCellDef="let element" class="buttons">
            <button
            mat-stroked-button
            color="primary"
            matTooltip="Editar certificado"
            (click)="goToEdit(element)">
            <mat-icon style="color: darkgoldenrod;">edit</mat-icon>
            </button>
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
    ></mat-paginator>
    <button
        mat-stroked-button
        color="primary"
        routerLink="/dashboard"
        style="background: var(--main-color2); color: white;">
            Regresar
    </button>
</main>