<section class="main-container">
    <h2>Bienvenido a <br><span>CH & M e-Learning!</span></h2>
    <div class="main-text">
        <p>Le damos la bienvenida a nuestra plataforma de aprendizaje electrónico. Es un placer inmenso para nosotros contar con usted en nuestros cursos de formación, capacitación y calificación, en donde podrá interactuar con tutores y demás participantes, con el fin de apoyar su proceso formativo.</p>
    </div>
    <div class="video-container">
        <div class="yt-frame">
            <div class="yt-video">
                <iframe
                    src="https://www.youtube.com/embed/-O5IEnnwq6A"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    title="conocenos">
                </iframe>
            </div>
        </div>
    </div>
    <div class="main-register">
        <p>Fórmese online con nosotros y <strong>¡acelere su carrera profesional!</strong></p>
        <a routerLink="/home/register">Crear Cuenta</a>
    </div>
</section>
