* {
    box-sizing: border-box;
}

main {
    background: white;
    --box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    --border-radius: 4px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container {
    width: 100%;
    max-height: 70px;
    padding: 16px;
    display: flex;
    justify-content: center;

    .timer {
        display: flex;
        align-items: center;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 16px;
        background: #e0f2f1;

        p {
            color: black;
            font-size: 1rem;
            margin: 0 16px;
        }

        p span {
            font-size: 1.2rem;
            color: var(--main-color2);
            font-weight: 500;
            margin-right: 8px;
        }
    }
}

.exam-end {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .answersList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .listItem {
            display: flex;
            margin-bottom: 8px;

            p {
                min-width: 92px;
                margin-left: 8px;
            }

            mat-icon {
                margin: 0 8px;
            }

            button {
                max-height: 25px;
                margin-left: 16px;
                padding: 0 8px;
                background: #01579b;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.question-container {
    width: 85%;
    min-height: 80px;
    padding: 16px 48px;
}

.options-container {
    width: 95%;
    min-height: 250px;
    background: #eceff1;
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    border-radius: 15px;

    .unique-selection {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .answers-table {
            display: flex;
            align-items: center;
            margin: 16px;

            p {
                color: black;
                font-weight: 500;
                margin: 0 16px;
            }
        }
    }

    .multiple-selection {
        display: flex;
        flex-direction: column;

        .multiple-opt {
            display: flex;
            align-items: center;
            margin: 16px;
            justify-content: flex-start;
            margin-left: 16px;

            p {
                margin: 0 8px;
            }

            mat-checkbox {
                margin-right: 16px;
            }
        }
    }

    .relation {
        width: 100%;
        padding: 16px;

        .relation-options {
            display: grid;
            grid-template-columns: 1fr 0.8fr 0.8fr;
            align-items: center;
            column-gap: 16px;

            p {
                padding: 8px 16px;
            }

            .rel-question,
            .relation-opt {
                display: flex;
            }

        }
    }




    .free-answer {
        margin-left: 32px;
    }
}

.buttons-container {
    margin: 32px;

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;

        button {
            // background: #303F9F;
            color: white;
        }

        button:nth-child(1) {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 30px;
        }

        button:nth-child(2) {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 30px;
        }

        button:nth-child(3) {
            background: var(--main-color2);
            color: white;
        }
    }
}