footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-color-rgb2);
    height: 70px;
}

footer p {
    color: white;
    font-size: 1.1rem;
}

footer p a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

footer .chym {
    padding-top: 8px;
    margin: 0;
}

footer .made-by {
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        padding: 10px 0;
        height: 50px;
    }

    footer p {
        margin: 0;
    }
}