<div class="contenedor">
    <div class="title dialog-header-close">
        <mat-icon>library_books</mat-icon>
        <h2>Matricular estudiante</h2>
        <mat-icon mat-dialog-close style="color: red;">close</mat-icon>
    </div>

    <div>
        <mat-form-field appearance="legacy" class="search">
            <mat-label>Buscar</mat-label>
            <input
            (input)="applyFilter($event.target.value)"
            matInput placeholder="Buscar Usuario"> <!---->
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>Puede buscar en todos los campos</mat-hint>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- nombre del usuario -->
        <ng-container matColumnDef="nombre">
            <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            id="nombre">
                Nombre
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="Usuario"
                class="name">
                {{ element.nombres }} {{ element.apellidos }}
            </td>
        </ng-container>
        <!-- correo -->
        <ng-container matColumnDef="correo">
            <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            id="correo">
                Correo electrónico
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="Correo electrónico"
                class="correo">
                {{ element.correo }}
            </td>
        </ng-container>
        <!-- perfil -->
        <ng-container matColumnDef="perfil">
            <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            id="perfil">
                Perfil
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="perfil del usuario"
                class="perfil">
                {{ element.perfil }}
            </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef id="estado">Estado</th>
            <td
                mat-cell
                *matCellDef="let element"
                matTooltip="Estado de la matricula"
                class="estado">
                {{ element.estado }}
            </td>
        </ng-container>

        <!-- botones de acción -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef id="acciones">Acciones</th>
            <td mat-cell *matCellDef="let element" class="buttons">
                <button
                    *ngIf="!element.matriculado"
                    mat-stroked-button
                    class="matricular"
                    (click)="registerUser(element, 'matricular')"
                    >
                    Matricular
                </button>
                <button
                *ngIf="element.matriculado"
                mat-raised-button
                color="warn"
                (click)="registerUSer(element, 'desmatricular')"
                >
                Desmatricular
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons>
    </mat-paginator>

    <div mat-dialog-actions class="botones">
        <button class="botonCerrar" mat-button [mat-dialog-close]>Cerrar</button>
    </div>
</div>
