<main>
    <div class="title dialog-header-close">
        <mat-icon>library_books</mat-icon>
        <h2>{{ !edit ? 'Crear nueva' : 'Editar'}} lección</h2>
        <mat-icon mat-dialog-close style="color: red;">close</mat-icon>
    </div>
    <mat-dialog-content>
        <form [formGroup]="form" (ngSubmit)="saveOrEditLesson($event)">
            <div class="form-inputs">
                <mat-form-field>
                    <mat-label>Titulo de la lección</mat-label>
                    <input
                    type="text"
                    matInput
                    formControlName="name"
                    [(ngModel)]="lessonName"
                    #myinput/>
                    <mat-error *ngIf="nameField.touched && nameField.invalid">
                    <ng-container *ngIf="nameField.hasError('required')">El nombre es requerido</ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="buttons">
                <button
                    type="submit"
                    class="guardarBtn"
                    mat-raised-button>
                    {{ edit ? 'Guardar cambios' : 'Guardar'}}
                </button>
                <a mat-raised-button mat-dialog-close>Cancelar</a>
            </div>
        </form>
    </mat-dialog-content>
</main>
