<div class="foro">
    <h3>Foro: {{contenido.titulo}}</h3>
    <div id="innerHtml"></div>
    <button
      (click)="goToReplyForo()"
      class="corner-button">
      <span>Responder Foro</span>
    </button>
    <button
      (click)="goToCitarForo()"
      class="corner-button corner-button2">
      <span>Citar Foro</span>
    </button>
</div>

  <div *ngFor="let respuesta of respuestas">
    <div class="foro | respuestas">
    <h3>{{respuesta.nombreCompleto}}</h3>
    <div *ngIf="respuesta.tipo === 'citar'">
      <div [innerHTML]="contenido.foro" class="cita"></div>
    </div>
    <div [innerHTML]="respuesta.contenido"></div>
      <button
      (click)="goToReplyUsario(respuesta.id)"
      class="corner-button">
        <span>Comentar</span>
      </button>

      <button
      *ngIf="usuario.id === respuesta.usuarioId"
      class="corner-button | editarForo"
      (click)="goToEditarReply(respuesta.id)">
        <span>Editar</span>
      </button>

      <button
      *ngIf="usuario.id === respuesta.usuarioId ||
      usuario.perfil === 'administrador'"
      (click)="getAdsToDelete(respuesta.id)"
      class="corner-button | eliminarForo">
        <span>Eliminar</span>
      </button>

      <div *ngIf=" respuesta.comentario">
        <h3 class="tituloComentario">Comentarios</h3>
        <div *ngFor="let comentario of respuesta.comentario; let i = index" class="comentario">
          <h4>{{comentario.nombreCompleto}}</h4>
          <div [innerHTML]="comentario.contenido"></div>
          <button
          *ngIf="usuario.id === comentario.idUsuario ||
          usuario.perfil === 'administrador'"
          (click)="messageDeleteComentario(i, respuesta.id)"
          class="corner-button | eliminarComentario">
            <span>Eliminar</span>
          </button>
        </div>
      </div>
    </div>
</div>
