<div class="container">
  <h2>Preguntas</h2>
  <mat-form-field appearance="legacy" class="search">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Buscar"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>puede buscar por cualquier campo</mat-hint>
  </mat-form-field>
  <button
    mat-raised-button
    (click)="createOrEditQuestion(null)"
    style="background: var(--main-color2); color: white"
  >
    Crear nuevo
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="addExistingQuestion()"
    style="margin-left: 10px;"
  >
    {{ showExistingQ ? 'Ver listado' : 'Agregar pregunta existente'}}
  </button>
  <section *ngIf="showExistingQ">
    <div *ngFor="let c of existingQuestions">
      <mat-accordion *ngIf="c.evaluation.length > 0">
        <mat-expansion-panel style="margin: 1rem;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Preguntas de curso {{c.curso}}</h3>
            </mat-panel-title>  
          </mat-expansion-panel-header>
          <div *ngFor="let ex of c.evaluation">
            <mat-expansion-panel
              *ngIf="c.evaluation.length > 0"
              (opened)="panelOpenState = true" 
              (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p
                      style="font-weight: 500; color: var(--main-color2);">
                        {{ex.evaluation}}
                    </p>
                  </mat-panel-title>  
                </mat-expansion-panel-header>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q1.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Preguntas de selección única</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q1" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q2.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Preguntas de selección multiple</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q2" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q3.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Preguntas de Rellenar blancos</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q3" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q4.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Preguntas de Relacionar</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q4" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q5.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Preguntas de Respuesta libre</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q5" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  *ngIf="ex.q6.length > 0"
                  [(ngModel)]="selectedQuestion"
                  (change)="selectionChange($event)">
                  <div class="question-opt">
                    <h4 style="font-weight: 600;">Tareas</h4>
                    <mat-radio-button class="example-radio-button" *ngFor="let q of ex.q6" [value]="q">
                      {{parseHTML(q.question)}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
            </mat-expansion-panel>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="saveQuestion()"
      style="margin: 1rem 1rem 2rem 1rem;"
    >
      Agregar pregunta seleccionada
    </button>
    
  </section>

  <table
    *ngIf="!showExistingQ"
    mat-table
    [dataSource]="dataSource"
    matSort class="mat-elevation-z8"
    aria-describedby="Preguntas del ejercicio">
    <!-- posicion -->
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="posicion">
        No.
      </th>
      <td mat-cell *matCellDef="let element" class="position">
        {{ element.position }}
      </td>
    </ng-container>

    <!-- pregunta -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="nombre">
        Nombre
      </th>
      <td mat-cell *matCellDef="let element" class="name">
        {{ parseHTML(element.question) }}
      </td>
    </ng-container>

    <!-- tipo de pregunta -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="tipo">
        Tipo de pregunta
      </th>
      <td mat-cell *matCellDef="let element">
        {{ questionType(element.type) }}
      </td>
    </ng-container>

    <!-- botones de acción -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef id="acciones">Acciones</th>
      <td mat-cell *matCellDef="let element" class="buttons">
        <!-- Editar pregunta -->
        <button
          mat-stroked-button
          color="primary"
          matTooltip="Editar curso"
          (click)="createOrEditQuestion(element)"
        >
          <mat-icon style="color: darkgoldenrod">edit</mat-icon>
        </button>
        <!-- Eliminar pregunta -->
        <button
          mat-stroked-button
          color="secondary"
          (click)="deleteQuestion(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="!showExistingQ"
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
  ></mat-paginator>
  <button
    mat-stroked-button
    color="primary"
    (click)="goBack()"
    style="background: var(--main-color2); color: white"
  >
    << Regresar
  </button>
</div>
