<main>
    <form [formGroup]="formCarreras" (ngSubmit)="validarFormulario()">
        <div class="title">
            <mat-icon>class</mat-icon>
            <h2>Crear nueva carrera</h2>
        </div>
        <div class="upload-image-main">
            <div class="image-upload">
                <label class="btn-upload">
                    <button
                    class="up-btn"
                    type="button"
                    mat-raised-button
                    (click)="fileInput.click()"
                    matTooltip="Cargar foto de la carrera">
                    <mat-icon aria-hidden="false" aria-label="Cargar imagen">cloud_upload</mat-icon>
                    Cargar Imagen
                    </button>
                    <input (change) ="obtenerImagen($event)" type="file" accept="image/png, image/jpeg" #fileInput/>
                </label>
            </div>
            <div class="progress">
                <mat-hint>Puede añadir una imagen de portada para la carrera, debe estar en formato JPG o PNG.</mat-hint>
            </div>
            <picture>
                <img *ngIf="showImage.src" [src]="showImage.src" alt="portada de la carrera">
            </picture>
        </div>
        <div class="form-inputs">
            <mat-form-field>
                <mat-label>Nombre de la carrera</mat-label>
                <input
                formControlName="nombre"
                type="text"
                matInput
                tabIndex=1/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sigla para certificados</mat-label>
                <input
                formControlName="sigla"
                type="text"
                matInput
                tabIndex=2/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Duración total de la carrera (horas)</mat-label>
                <input
                    type="number"
                    matInput
                    formControlName="duracionCarrera"
                    tabIndex=3/>
                <mat-error *ngIf="duracionCarreraField.touched && duracionCarreraField.invalid">
                  <ng-container *ngIf="duracionCarreraField.hasError('required')">Este campo es requerido</ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Plantilla certificado</mat-label>
                <mat-select formControlName="plantilla" tabIndex="4">
                    <mat-option *ngFor="let item of certs" [value]="item.id">
                        {{ item.titulo }}
                    </mat-option>
                    <mat-error *ngIf="plantillaField.touched && plantillaField.invalid">
                        <ng-container *ngIf="plantillaField.hasError('required')">Este campo es requerido</ng-container>
                    </mat-error>
                </mat-select>
            </mat-form-field>
            <!-- Vencimiento certificado -->
            <mat-checkbox class="example-margin" formControlName="vence" [(ngModel)]="vence">Certificado vence?</mat-checkbox>
            <mat-form-field *ngIf="vence">
            <mat-label>Vencimiento certificado (años)</mat-label>
            <input
                type="number"
                matInput
                formControlName="vencimiento"
                tabIndex=7/>
            <mat-error *ngIf="vencimientoField.touched && vencimientoField.invalid">
                <ng-container *ngIf="vencimientoField.hasError('required')">Este campo es requerido</ng-container>
            </mat-error>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button
                type="submit"
                tabIndex=5
                mat-raised-button
                >Crear carrera</button>
                <a mat-raised-button (click)="volverAListaCarreras()" tabIndex=6    >Cancelar</a>
        </div>
    </form>
</main>