<main>
    <section class="option-select">
        <h3>Seleccione el tipo de pregunta</h3>
        <mat-radio-group
            aria-label="seleccione una opción"
            color="primary"
            [(ngModel)]="selected"
            (change)="selectionChange($event)">
                <section class="exercise-options">
                    <div class="option" *ngFor="let opt of options">
                        <img src="{{ opt.img }}" alt="">
                        <div class="execise-name"><p>{{ opt.name }}</p></div>
                        <div class="select">
                            <mat-radio-button value="{{opt.value}}"></mat-radio-button>
                        </div>
                    </div>
                </section>
        </mat-radio-group>
    </section>

    <section *ngIf="!selected">
        <div class="buttons">
            <button
                mat-raised-button
                (click)="goBack()"
                style="background: var(--main-color-rgb2); color: white;">
                <<< Regresar
            </button>
        </div>
    </section>

    <section class="question-options">
        <div *ngFor="let item of options">
            <div *ngIf="item.state">
                <!-- selección unica -->
                <div *ngIf="item.value === 1 || item.value === 2">
                    <!-- Editor de texto para la pregunta -->
                    <div class="question-editor">
                        <h3>{{edit ? 'Editar' : 'Añadir'}} Pregunta: {{ item.name }}</h3>
                        <div class="mat-form-field-wrapper">
                            <editor
                            apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                            class="mat-elevation-z1"
                            [(ngModel)]="question"
                            (onInit)="handleEditorInit($event)"
                            [init]="{
                                icons: 'material',
                                skin: 'borderless',
                                plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                                menubar: false,
                                min_height: 350,
                                width : '750',
                                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                media_live_embeds: true
                            }"
                            ></editor>
                        </div>
                    </div>
                    <!-- Seleccion unica -->
                    <div class="unique-multiple-selection">
                        <h3>Respuestas</h3>
                        <div class="answers-title">
                            <p>No</p>
                            <p>Verdadero</p>
                            <p>Respuesta</p>
                            <p>Comentarios</p>
                        </div>
                        <div class="unique-selection" *ngIf="item.value === 1">
                            <mat-radio-group
                                aria-label="seleccione una opción"
                                color="primary"
                                [(ngModel)]="trueAnswer"
                                (change)="trueSelected($event)">
                                <div class="answers-table" *ngFor="let item of questions">
                                    <p>{{item.value}}</p>
                                    <mat-radio-button value="{{item.value}}" [checked]="item.respuesta"></mat-radio-button>
                                    <div>
                                        <editor
                                        apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                                        class="mat-elevation-z1"
                                        (onInit)="handleEditorInit($event)"
                                        [init]="{
                                            icons: 'material',
                                            skin: 'borderless',
                                            plugins: ['wordcount', 'lists', 'image imagetools'],
                                            menubar: false,
                                            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                            media_live_embeds: true
                                        }"
                                        [(ngModel)]="item.answer"></editor>
                                    </div>
                                    <div>
                                        <textarea [(ngModel)]="item.comment"></textarea>
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>

                        <!-- selección multiple -->
                        <div class="multiple-selection" *ngIf="item.value === 2">
                            <div class="answers-table" *ngFor="let item of questions">
                                <p>{{item.value}}</p>
                                <mat-checkbox
                                    [(ngModel)]="item.respuesta"
                                    color="primary">
                                </mat-checkbox>
                                <div>
                                    <editor
                                    apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                                    class="mat-elevation-z1"
                                    (onInit)="handleEditorInit($event)"
                                    [init]="{
                                        icons: 'material',
                                        skin: 'borderless',
                                        plugins: ['wordcount', 'lists', 'image imagetools'],
                                        menubar: false,
                                        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                        media_live_embeds: true
                                    }"
                                    [(ngModel)]="item.answer"></editor>
                                </div>
                                <div>
                                    <textarea [(ngModel)]="item.comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button mat-raised-button [disabled]="!question" (click)="saveOrEditQuestion()">Guardar pregunta</button>
                            <button color="primary" [disabled]="questions.length >= 10" mat-raised-button (click)="addAnswer()">Agregar respuesta</button>
                            <button color="warn" [disabled]="questions.length <= 2" mat-raised-button (click)="deleteAnswer()">Quitar respuesta</button>
                            <button mat-raised-button (click)="goBack()"><<< Cancelar</button>
                        </div>
                    </div>

                </div>
                <!-- Relacionar -->
                <div *ngIf="item.value === 4">
                    <div class="relacionar">
                        <!-- Editor de texto para la pregunta -->
                        <div class="question-editor">
                            <h3>{{edit ? 'Editar' : 'Añadir'}} Pregunta: {{ item.name }}</h3>
                            <div class="mat-form-field-wrapper">
                                <editor
                                apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                                class="mat-elevation-z1"
                                [(ngModel)]="question"
                                (onInit)="handleEditorInit($event)"
                                [init]="{
                                    icons: 'material',
                                    skin: 'borderless',
                                    plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                                    menubar: false,
                                    min_height: 350,
                                    width : '750',
                                    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                    media_live_embeds: true
                                }"
                                ></editor>
                            </div>
                        </div>
                        <h3>Respuestas</h3>
                        <div class="relacionar-title">
                            <p>No</p>
                            <p>Respuesta</p>
                            <p>Corresponde a</p>
                        </div>

                        <div class="relacionar-table" *ngFor="let item of questions">
                            <p>{{item.value}}</p>
                            <!-- <div>
                                <textarea [(ngModel)]="item.answer"></textarea>
                            </div> -->
                            <div class="mat-form-field-wrapper">
                                <editor
                                apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                                class="mat-elevation-z1"
                                [(ngModel)]="item.answer"
                                (onInit)="handleEditorInit($event)"
                                [init]="{
                                    icons: 'material',
                                    skin: 'borderless',
                                    plugins: ['wordcount', 'lists', 'image imagetools'],
                                    menubar: false,
                                    min_height: 250,
                                    width : 'auto',
                                    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image',
                                    media_live_embeds: true
                                }"
                                ></editor>
                            </div>
                            <div>
                                <mat-form-field appearance="fill">
                                    <!-- <mat-label>Respuesta</mat-label> -->
                                    <mat-select
                                        (selectionChange)="relationSelect($event, item.value)"
                                        [(ngModel)]="item.relation">
                                        <mat-option *ngFor="let r of relations" [value]="r.value">
                                        {{letters[r.value - 1]}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <h3>Relacionar con</h3>
                        <div class="relation-title">
                            <p>No</p>
                            <p>Respuesta</p>
                        </div>
                        <div class="relation-table" *ngFor="let item of relations">
                            <p>{{letters[item.value - 1]}}</p>
                            <!-- <div>
                                <textarea [(ngModel)]="item.answer"></textarea>
                            </div> -->
                            <div class="mat-form-field-wrapper">
                                <editor
                                apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                                class="mat-elevation-z1"
                                [(ngModel)]="item.answer"
                                (onInit)="handleEditorInit($event)"
                                [init]="{
                                    icons: 'material',
                                    skin: 'borderless',
                                    plugins: ['wordcount', 'lists', 'image imagetools'],
                                    menubar: false,
                                    min_height: 250,
                                    width : 'auto',
                                    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image',
                                    media_live_embeds: true
                                }"
                                ></editor>
                            </div>
                        </div>
                        <div class="buttons">
                            <button mat-raised-button [disabled]="!question" (click)="saveRelations()">Guardar pregunta</button>
                            <button color="primary" [disabled]="questions.length >= 10" mat-raised-button (click)="addAnswer()">Agregar respuesta</button>
                            <button color="warn" [disabled]="questions.length <= 2" mat-raised-button (click)="deleteAnswer()">Quitar respuesta</button>
                            <button mat-raised-button (click)="goBack()"><<< Cancelar</button>
                        </div>
                    </div>
                </div>

                <!-- Respuesta Libre -->
                <div *ngIf="item.value === 5">
                    <!-- Editor de texto para la pregunta -->
                    <div class="question-editor">
                        <h3>{{edit ? 'Editar' : 'Añadir'}} Pregunta: {{ item.name }}</h3>
                        <div class="mat-form-field-wrapper">
                            <editor
                            apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                            class="mat-elevation-z1"
                            [(ngModel)]="question"
                            (onInit)="handleEditorInit($event)"
                            [init]="{
                                icons: 'material',
                                skin: 'borderless',
                                plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                                menubar: false,
                                min_height: 350,
                                width : '750',
                                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                media_live_embeds: true
                            }"
                            ></editor>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button color="primary" [disabled]="!question" (click)="saveFreeAnswer()">Guardar pregunta</button>
                        <button mat-raised-button (click)="goBack()"><<< Cancelar</button>
                    </div>
                </div>
                <!-- Rellenar blancos -->
                <div *ngIf="item.value === 3">
                    <!-- Editor de texto para la pregunta -->
                    <div class="question-editor">
                        <h3>{{edit ? 'Editar' : 'Añadir'}} Pregunta: {{ item.name }}</h3>
                        <p style="font-weight: 500; margin-bottom: 16px;">
                            Escriba el texto debajo, y use corchetes [{{ '{' }}...{{ '}' }}] para definir uno o más espacios en blanco.
                        </p>
                        <div class="mat-form-field-wrapper">
                            <editor
                            apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                            class="mat-elevation-z1"
                            [(ngModel)]="question"
                            (ngModelChange)="questionChange($event)"
                            (onInit)="handleEditorInit($event)"
                            [init]="{
                                icons: 'material',
                                skin: 'borderless',
                                plugins: ['wordcount', 'lists'],
                                menubar: false,
                                min_height: 350,
                                width : '750',
                                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist',
                                media_live_embeds: true
                            }"
                            ></editor>
                        </div>
                    </div>
                    <div>
                        <h3>Palabras por encontrar</h3>
                        <div class="blancos" *ngFor="let word of whiteWords">
                            <p>[ <span>{{ word }}</span> ]</p>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button color="primary" [disabled]="!question" (click)="saveWhite()">Guardar pregunta</button>
                        <button mat-raised-button (click)="goBack()"><<< Cancelar</button>
                    </div>
                </div>
                <!-- tarea -->
                <div *ngIf="item.value === 6">
                    <!-- Editor de texto para la pregunta -->
                    <div class="question-editor">
                        <h3>{{edit ? 'Editar' : 'Añadir'}} Pregunta: {{ item.name }}</h3>
                        <div class="mat-form-field-wrapper">
                            <editor
                            apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                            class="mat-elevation-z1"
                            [(ngModel)]="question"
                            (onInit)="handleEditorInit($event)"
                            [init]="{
                                icons: 'material',
                                skin: 'borderless',
                                plugins: ['wordcount', 'lists', 'image imagetools', 'media'],
                                menubar: false,
                                min_height: 350,
                                width : '750',
                                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media',
                                media_live_embeds: true
                            }"
                            ></editor>
                        </div>
                    </div>
                    <div class="job-options">
                        <h3>Configuración de tarea</h3>
                        <div class="job-options-list">
                            <p></p>
                            <div class="single-option">
                                <mat-checkbox
                                    class="final-date"
                                    color="primary"
                                    [(ngModel)]="jobExpDateCheck">
                                    Activar fecha de vencimiento
                                </mat-checkbox>
                            </div>
                            <p *ngIf="jobExpDateCheck">Fecha límite envío de tarea</p>
                            <div *ngIf="jobExpDateCheck" class="single-option">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput type="date" [(ngModel)]="jobExpDate">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Hora</mat-label>
                                    <input matInput type="time" [(ngModel)]="jobExpTime">
                                </mat-form-field>
                            </div>
                            <p></p>
                            <div class="single-option">
                                <mat-checkbox
                                    class="final-date"
                                    color="primary"
                                    [(ngModel)]="jobFinalDateCheck">
                                    Activar fecha de finalización
                                </mat-checkbox>
                            </div>
                            <p *ngIf="jobFinalDateCheck">Acaba en (cerrado completamente)</p>
                            <div *ngIf="jobFinalDateCheck" class="single-option">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput type="date" [(ngModel)]="jobFinalDate">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Hora</mat-label>
                                    <input matInput type="time" [(ngModel)]="jobFinalTime">
                                </mat-form-field>
                            </div>
                            <p>Tipo de documento</p>
                            <div class="single-option">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione una opción</mat-label>
                                    <select matNativeControl required [(ngModel)]="documentType">
                                        <option value="1">Permitir archivos y respuestas online</option>
                                        <option value="2">Solo respuesta online</option>
                                        <option value="3">Solo archivos</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button color="primary" [disabled]="!question" (click)="saveJob()">Guardar tarea</button>
                        <button mat-raised-button (click)="goBack()"><<< Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
