<main>
    <form [formGroup]="formCarreras" (ngSubmit)="validarFormulario()">
        <div class="title">
            <mat-icon>class</mat-icon>
            <h2>Editar carrera</h2>
        </div>
        <div class="upload-image-main">
            <div class="image-upload">
                <label class="btn-upload">
                    <button
                    class="up-btn"
                    type="button"
                    mat-raised-button
                    (click)="fileInput.click()"
                    matTooltip="Cargar foto de la carrera">
                    <mat-icon aria-hidden="false" aria-label="Cargar imagen">cloud_upload</mat-icon>
                    Cargar Imagen
                    </button>
                    <input (change) ="obtenerImagen($event)" type="file" accept="image/png, image/jpeg" #fileInput/>
                </label>
            </div>
            <div class="progress">
                <mat-hint>Puede añadir una imagen de portada para el curso, debe estar en formato JPG o PNG.</mat-hint>
            </div>
            <picture>
                <img *ngIf="showImage.src" [src]="showImage.src" alt="portada de la carrera">
            </picture>
        </div>
        <div class="form-inputs">
            <mat-form-field>
                <mat-label>Nombre de la carrera</mat-label>
                <input
                formControlName="nombre"
                type="text"
                matInput
                tabIndex=1/>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button
                type="submit"
                tabIndex=4
                mat-raised-button
                >Editar carrera</button>
                <a mat-raised-button (click)="volverAListaCarreras()" tabIndex=5>Cancelar</a>
        </div>
    </form>
</main>