<main>
  <div class="title dialog-header-close">
    <mat-icon>edit</mat-icon>
    <h2>Editar {{ data.content.type }} del curso</h2>
    <mat-icon mat-dialog-close style="color: red;">close</mat-icon>
  </div>
  <mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="mat-form-field-wrapper">
        <editor
          apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
          [formControl]="form.controls.body"
          class="mat-elevation-z1"
          [(ngModel)]="description"
          (onInit)="handleEditorInit($event)"
          [init]="{
              icons: 'material',
              skin: 'oxide',
              plugins: ['print', 'preview', 'textcolor', 'wordcount', 'lists', 'image imagetools', 
                      'media', 'table', 'code', 'link'],
              menubar: ['file', 'edit', 'view', 'insert', 'format','table'],
              min_height: 350,
              width : '750',
              toolbar: 'forecolor backcolor | undo redo | styleselect | link | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | code',
              media_live_embeds: true
          }"
        ></editor>
        <div class="mat-form-field-subscript-wrapper">
          <mat-error *ngIf="form.controls.body.touched && form.controls.body.hasError('required')">
            Debe ingresar una descripción.
          </mat-error>
        </div>
      </div>
      <div class="buttons">
        <button
          mat-stroked-button
          [disabled]="!form.valid"
          style="background: var(--main-color2); color: white;"
          type="submit">
            Guardar
        </button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial>Cerrar</button>
      </div>
    </form>
  </mat-dialog-content>
</main>



