<main>
    <div class="title">
        <mat-icon>volume_up</mat-icon>
        <h2>Editar anuncio {{ careerView ? 'de la carrera' : 'del curso' }}</h2>
    </div>

    <div class="anuncio">
        <div class="contentView">
            <h3>Titulo del anuncio</h3>
            <mat-form-field class="example-form-field" appearance="fill">
                <input [(ngModel)]="contenido.titulo" autocomplete="off" matInput>
            </mat-form-field>

            <div class="contenido">
                <h3>Descripción</h3>
                <editor
                    apiKey="fa82nlmdggdzt2rwcpx7k706ohjcnf9wo3ioar2p06d10yyk"
                    class="mat-elevation-z1"
                    [(ngModel)]="contenido.descripcion"
                    [init]="{
                        icons: 'material',
                        skin: 'oxide',
                        plugins: ['print', 'preview', 'textcolor', 'wordcount', 'lists', 'image imagetools', 
                                'media', 'table', 'code', 'link'],
                        menubar: ['file', 'edit', 'view', 'insert', 'format','table'],
                        min_height: 350,
                        width : '750',
                        toolbar: 'forecolor backcolor | undo redo | styleselect | link | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | image | media | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | code',
                        media_live_embeds: true
                    }">
                </editor>
            </div>
            <section class="opciones">
                <mat-checkbox [(ngModel)]="dateUpdate">¿actualizar fecha? aparecerá en primer lugar.</mat-checkbox>
                <mat-checkbox [(ngModel)]="this.opciones.miCopia">Enviarme una copia por e-mail</mat-checkbox>
                <mat-checkbox [(ngModel)]="this.opciones.todoCurso">Enviar a todos los usuarios de  {{ careerView ? 'la carrera' : 'este curso' }}</mat-checkbox>
                <mat-checkbox [(ngModel)]="this.opciones.estudiantesSeleccionados">Enviar solamente a los usuarios seleccionados</mat-checkbox>
                <div class="contenedorMatriculados" *ngIf="this.opciones.estudiantesSeleccionados">
                    <section class="matriculados">
                        <mat-checkbox *ngFor="let matriculado of matriculados"
                        (change)="seleccionarEstudiantes(matriculado,$event.checked)">{{matriculado.nombre}}</mat-checkbox>
                    </section>
                </div>
            </section>

            <div class="buttons">
                <button
                    (click)="validarContenidoAnuncio()"
                    mat-raised-button>
                    Editar Anuncio
                </button>
                <a mat-raised-button
                (click)="volverAListaAnuncio()">Cancelar</a>
            </div>
        </div>
    </div>
</main>
