/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&amp;display=swap');
@import '../node_modules/css-star-rating/css/star-rating.css';

:root {
    --main-color1: #50C0DF;
    --main-color2: #007279;
    --secondary1: #eceff1;
    --main-color-rgb1: rgba(80, 192, 223, 0.5);
    --main-color-rgb2: rgba(0, 114, 121, 0.95);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0 !important;
    padding: 0;
}

.mat-radio-label {
    white-space: pre-wrap !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.carousel-slide {
    background-size: contain !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slide-toggle.mat-checked  {
    .mat-slide-toggle-bar
    {
        background-color:#007279
    }
    .mat-slide-toggle-thumb
    {
        background-color:#50C0DF
    }
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent{
    color:#007279
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent
{
    background-color:#007279
}