.contenedor
{
    width:90%;
    margin: 1.5rem auto;
    .matCardContent
    {
        padding-top: 1px;
        .matCardContent-item
        {
            margin-top: 1rem;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
            h2
            {
                font-size: 1rem;
            }
            p
            {
                display:flex;
                span
                {
                    margin-left: 10px;
                }
            }
            .nombreCurso
            {
                padding:0px;
                margin:0px;
            }
        }
        .matCardContent-item:hover
        {
            background: #50C0DF;
            cursor: pointer ;
        }
    }
}

.gridCursos
{
    display:grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
    grid-auto-rows: minmax(1fr, auto);
}

.grid-item1
{
    grid-column: 0;
    grid-row: 1/4;
    margin: auto;
    .imagenCurso
    {
        width:120px;
        height:120px;
        border-radius:150px;
        border: 5px solid rgba(0, 114, 121, 0.95);
    };
}

.grid-itemn2
{
    grid-column: 2;
    grid-row: 2;
}

.grid-itemn3
{
    grid-column: 2;
    grid-row: 3;
}

.grid-itemn4
{
    grid-column: 2;
    grid-row: 4;
}