* {
    box-sizing: border-box;
}

main {
    background: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin: 36px auto;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}

section {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    //gap: 24px;

    .section-title {
        margin: 16px 24px 8px 32px;
        color: var(--main-color2);
        font-weight: 500;
        font-size: 1.5rem;
    }

    .course-container {
        width: 80%;
        margin: 8px 24px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        border-radius: 4px;
        background: rgba(131, 139, 139, 0.1);
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: auto;
        gap: 16px;

        .course-img {
            width: 90%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 80%;
                padding: 8px;
            }
        }

        .course-data {
            display: flex;
            flex-direction: column;

            .nombreCurso {
                margin: 8px 0;
                cursor: pointer;
                color: var(--main-color2);
                font-weight: 500;
            }

            p {
                display: flex;
                align-items: center;
                color: var(--main-color2);
                font-weight: 500;
                font-size: 0.8rem;
                margin: 0;

                mat-icon {
                    margin: 0 8px;
                }

                span {
                    color: black;
                    margin: 0 8px;
                    font-size: 1rem;
                }
            }
        }
    }
}

