<main>
    <section>
        <div class="course-container" *ngFor="let course of listcourse">
            <div class="course-img">
                <img
                    class="imagenCurso"
                    [src]="course.imagen"
                    alt="imagen del curso"
                    (click)="goToCourseHome(course.id)"
                    matTooltip="{{ 'ir al curso: ' + course.nombre }}">
            </div>
            <div class="course-data">
                <h2
                    class="nombreCurso"
                    (click)="goToCourseHome(course.id)"
                    matTooltip="{{ 'ir al curso: ' + course.nombre }}">
                        {{course.nombre}}
                </h2>
                <p>
                    <!-- <mat-icon>engineering</mat-icon> -->
                    Profesor:
                    <span> {{course.profesor}} </span>
                </p>
                <p>Categoria: <span>{{course.categoria}}</span></p>
            </div>
        </div>
    </section>
</main>
