<header>
    <section class="header-container">
        <div class="logo-container">
            <a routerLink="/"><img src="../assets/img/header-logo-custom1.png" alt="logo CHM"></a>
        </div>
        <div class="icons-container">
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/Chmentoring.NDT">
                    <span class="flaticon-001-facebook"></span>
                </a>
                <a target="_blank" href="https://twitter.com/Chmentoring_NDT?lang=es"><span
                        class="flaticon-002-twitter"></span></a>
                <a target="_blank" href="https://www.linkedin.com/in/chmentoring/"><span
                        class="flaticon-010-linkedin"></span></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCwpH8p7mcXeKgbYtFf8HQsQ"><span
                        class="flaticon-008-youtube"></span></a>
            </div>
            <div class="text">
                <p>síguenos</p>
            </div>
        </div>
    </section>
</header>