<app-header></app-header>
<app-nav></app-nav>
<section>
    <span class="material-icons">badge</span>
    <div class="section-text">
        <h2>Esta a un paso de empezar a formarse con nosotros.</h2>
        <p>Complete todos los datos para crear su cuenta</p>
    </div>
</section>
<div class="main-container">
    <div class="register-container">
        <h2>Crear cuenta</h2>
        <div class="register">
            <form action="">
                <label for="Email">Correo electrónico</label>
                <input type="email" id="Email" placeholder="Su email">
                <p>su nombre y apellido completo, así aparecerá en sus certificados</p>
                <label for="Nombre">Nombres</label>
                <input type="text" id="Nombre" placeholder="nombres">
                <label for="Apellido">Apellidos</label>
                <input type="text" id="Apellido" placeholder="apellidos">
                <label for="Pass">Contraseña</label>
                <input type="password" id="Pass" placeholder="contraseña">
                <label for="PassConf">Confirmar contraseña</label>
                <input type="password" id="PassConf" placeholder="confirmar contraseña">
                <button type="submit">Crear Cuenta</button>
            </form>
        </div>
        <div class="login">
            <p>¿Ya tiene cuenta?</p>
            <a routerLink="/home/login">Iniciar sesión</a>
        </div>
    </div>
</div>
<app-footer></app-footer>
